<app-menu></app-menu>

<div class="bg-gray-300 p-6">
  <h1 class="text-2xl font-bold mb-2 mt-8 ml-40">Empresas</h1>
  
  
  <div *ngIf="option==0" class="flex justify-center">
    
    <div class="w-auto">
      <div class="relative overflow-x-auto">
        <div class="flex justify-center">
          <span class="px-6 py-3 ">Buscar empresas: </span>
          <input [(ngModel)]="searchTerm" placeholder="Buscar..." class="w-1/3 p-2 border rounded" (input)="onSearch()" />
          <span class="px-6 py-3 ">Buscar por categoría: </span>
          <select [(ngModel)]="empresa.categories[0]" name="categories"
              class="w-1/5 rounded border-[1.5px] border-stroke bg-transparent py-3 px-5 font-medium outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary">
              <option *ngFor="let category of categories" [value]="category.id">{{ category.category }}</option>
            </select>
        </div>


        <div class="flex justify-between items-center mt-8">
          <h1 class="text-2xl font-bold">Listado de empresas:</h1>
          <!-- Un botón para acciones generales -->
          <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition duration-300" (click)="changeVisibility(1)">
            Registrar empresa
          </button>
        </div>
        


        <!-- <table class="w-full text-sm text-left mt-5">
          <thead class="text-xs uppercase bg-gray-50">
            <tr>
              <th scope="col" class="px-6 py-3">
                Nombre
              </th>
              <th scope="col" class="px-6 py-3">
                NIF / CIF
              </th>
              <th scope="col" class="px-6 py-3">
                Correo electrónico
              </th>
              <th scope="col" class="px-6 py-3">
                Teléfonos
              </th>
              <th scope="col" class="px-6 py-3">
                Dirección web
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let empresa of filtered_empresas" class="bg-white border-b cursor-pointer" (click)="showEnterprise(2,empresa.enterprise_id)">
              <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                {{ empresa.name }}
              </td>

              <td class="px-6 py-4">
                {{ empresa.legal_document }}
              </td>

              <td class="px-6 py-4">
                {{ empresa.email.email }}
              </td>
            
              <td class="px-6 py-4">
                {{ empresa.phone }}
              </td>
              <td class="px-6 py-4">
                {{ empresa.web_page_url }}
              </td>
            </tr>
          </tbody>
        </table> -->

        
<br>
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">

  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
       
          <tr>
            <th scope="col" class="px-6 py-3">
              Nombre
            </th>
            <th scope="col" class="px-6 py-3">
              NIF / CIF
            </th>
            <th scope="col" class="px-6 py-3">
              Correo electrónico
            </th>
            <th scope="col" class="px-6 py-3">
              Teléfonos
            </th>
            <th scope="col" class="px-6 py-3">
              Dirección web
            </th>
            <th scope="col" class="px-6 py-3">
              Modificar
            </th>
          </tr>
      </thead>
      <tbody>

   
          <tr *ngFor="let empresa of filtered_empresas" (click)="showEnterprise(2,empresa.enterprise_id)" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
          
              <th scope="row" class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">
                  
<div class="relative w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
  <svg class="absolute w-12 h-12 text-gray-400 -left-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path></svg>
</div>

                  <div class="ps-3">
                      <div class="text-base font-semibold">{{ empresa.name }}</div>
                     
                  </div>  
              </th>
              <td class="px-6 py-4">
                {{ empresa.legal_document }}
              </td>
              <td class="px-6 py-4">
                {{ empresa.email.email }}
              </td>
              <td class="px-6 py-4">
                {{ empresa.phone }}
            </td>
            <td class="px-6 py-4">
              <div class="flex items-center">
                  <!-- <div class="h-2.5 w-2.5 rounded-full bg-green-500 me-2"></div> Online -->
                   <div *ngIf="empresa.web_page_url == ''">
                    <div class="h-2.5 w-2.5 rounded-full bg-red-500 me-2"></div> No posee
                   </div>
                   <div *ngIf="empresa.web_page_url != ''">
                    <div class="h-2.5 w-2.5 rounded-full bg-green-500 me-2"></div>  {{ empresa.web_page_url }}
                   </div>
                 
                  
              </div>
          </td>
              <td class="px-6 py-4">
                  <a class="font-medium text-blue-600 dark:text-blue-500 hover:underline" (click)="showEnterprise(2,empresa.enterprise_id)">Editar usuario</a>
              </td>
          </tr>
         
      </tbody>
  </table>
</div>


        <!-- <div class="flex items-center justify-center  h-20">

          <div class="text-center">
            <div class="pagination">
              <a class="text-4xl border border-gray-300 rounded-lg px-4 py-2 mr-2 cursor-pointer" (click)="previusPage()">&laquo;</a>
         
              <a class="text-4xl border border-gray-300 rounded-lg px-4 py-2 ml-2 cursor-pointer" (click)="nextPage()">&raquo;</a>
            </div>
          </div>
        </div> -->

        


        <nav aria-label="Page navigation example" class="">
          <div class="flex justify-center">
            <ul class="inline-flex -space-x-px text-base h-10">
    <li>
      <a (click)="previusPage()" class="cursor-pointer flex items-center justify-center px-4 h-10 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Anterior</a>
    </li>
    <li>
      <a  class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">1</a>
    </li>
    <li>
      <a  class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">...</a>
    </li>
 
    <li>
      <a  class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">{{canElementos}}</a>
    </li>

    <li>
      <a  (click)="nextPage()" class="cursor-pointer flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Siguiente</a>
    </li>
  </ul>
</div>
</nav>



        
        
      </div>
    </div>
  </div>

  
<div *ngIf="option==1" class="flex justify-center items-center h-full">
  <div class="w-full max-w-lg">
    <form class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full">
        <div class="flex justify-between items-center mt-8">
          <h1 class="text-2xl font-bold">Crear Empresa:</h1>
          <!-- Un botón para acciones generales -->
          <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition duration-300" (click)="changeVisibility(0)">
            Ver empresas
          </button>
        </div>
        <br>

        <div class="px-3 mb-6 md:mb-0">
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Nombre</label>
          <input [(ngModel)]="empresa.name" name="name" type="text"
            class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
            required>
        </div>

        <div class="px-3 mb-6 md:mb-0">
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Dirección de pagina web</label>
          <input [(ngModel)]="empresa.web_page_url" name="web_page_url" type="text"
            class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
            required>
        </div>

        <div class="px-3 mb-6 md:mb-0">
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Nombre del banco</label>
          <input [(ngModel)]="empresa.bank_details.bank_name" name="bank_name" type="text"
            class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
            required>
        </div>

        <div class="px-3 mb-6 md:mb-0">
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Cuenta de banco</label>
          <input [(ngModel)]="empresa.bank_details.account_number" name="account_number" type="text"
            class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
            required>
        </div>

        <div class="px-3 mb-6 md:mb-0">
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">DNI / CIF</label>
          <input [(ngModel)]="empresa.legal_document" name="legal_document" type="text"
            class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
            required>
        </div>





        <div class="px-3 mb-6 md:mb-0">
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Código de
            Contabilidad</label>
          <input [(ngModel)]="empresa.finance_details.accounting_code" name="accounting_code" type="text"
            class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
            required>
        </div>
        <br>

        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Correos</label>

        <div *ngFor="let email of empresa.emails_associated; let i = index" class="flex flex-wrap -mx-3 mb-6" >
          <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Correo</label>
            <input [(ngModel)]="email.email" name="email-{{ i }}" type="text"
              class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
              required>
          </div>
          <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Descripción de
              correo</label>
            <input [(ngModel)]="email.description" name="email-description-{{ i }}" type="text"
              class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
              required>
          </div>


        </div>
        <div class="w-full px-3 mb-6 md:mb-0 flex justify-center mt-3">

          <button type="button" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
            (click)="removeEmail()">
            <i class="fas fa-minus">Remover correo</i>
          </button>
          <button type="button" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
            (click)="addEmail()">
            <i class="fas fa-plus">Agregar correo</i>
          </button>
        </div>




        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Teléfonos</label>

        <div *ngFor="let telefono of empresa.phones_associated; let i = index" class="flex flex-wrap -mx-3 mb-6">
          <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Numero de teléfono</label>
            <input [(ngModel)]="telefono.number" name="number-{{ i }}" type="text"
              class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
              required>
          </div>
          <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Descripción del
              teléfono</label>
            <input [(ngModel)]="telefono.description" name="number-description-{{ i }}" type="text"
              class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
              required>
          </div>


        </div>
        <div class="w-full px-3 mb-6 md:mb-0 flex justify-center mt-3">

          <button type="button" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
            (click)="removePhone()">
            <i class="fas fa-minus">Remover teléfono</i>
          </button>
          <button type="button" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
            (click)="addPhone()">
            <i class="fas fa-plus">Agregar teléfono</i>
          </button>
        </div>


    


        <br>

        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Dirección</label>

        <div class="flex flex-wrap -mx-3 mb-6">
          <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Ciudad</label>
            <input [(ngModel)]="empresa.addresses.city" name="city" type="text"
              class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
              required>
          </div>
          <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Código postal</label>
            <input [(ngModel)]="empresa.addresses.zip_code" name="zip_code" type="text"
              class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
              required>
          </div>
        </div>

        <div class="flex flex-wrap -mx-3 mb-6">
          <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Provincia/Estado</label>
            <input [(ngModel)]="empresa.addresses.state" name="state" type="text"
              class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
              required>
          </div>
          <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">País</label>
            <input [(ngModel)]="empresa.addresses.country" name="country" type="text"
              class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
              required>
          </div>
        </div>




        <div class="select-input-data">
          <label class="block text-black">Categoría</label>
          <div class="input-data">
            <select [(ngModel)]="empresa.categories[0]" name="categories"
              class="w-full rounded border-[1.5px] border-stroke bg-transparent py-3 px-5 font-medium outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary">
              <option *ngFor="let category of categories" [value]="category.id">{{ category.category }}</option>
            </select>
          </div>
        </div>

        <div
          class="flex w-full justify-center rounded bg-primary p-3 font-medium reputation-container button-38 mt-8 mb-8">
          <button (click)="createCompany()">Guardar</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div *ngIf="option== 3" class="flex justify-center items-center h-full">

  <div class="w-full max-w-lg">
    <form class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full">
        <div class="flex justify-between items-center mt-8">
          <h1 class="text-2xl font-bold">Detalle de empresa:</h1>
          <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition duration-300" (click)="changeVisibility(2)">
            Cancelar edición
          </button>
        </div>
        <br>
        <div class="px-3 mb-6 md:mb-0">
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Número: CC
            <input type="text" [(ngModel)]="company.enterprise_id">
          </label>
        </div>
        <div class="px-3 mb-6 md:mb-0">
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Nombre:
            <input type="text" [(ngModel)]="company.name">
          </label>
        </div>
        <div class="px-3 mb-6 md:mb-0">
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Dirección de pagina web:
            <input type="text" [(ngModel)]="company.web_page_url">
          </label>
        </div>
        <div class="px-3 mb-6 md:mb-0">
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Detalles bancarios </label>
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
            Nombre:
            <input type="text" [(ngModel)]="company.bank_details.bank_name">
          </label>
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
            ABBR:
            <input type="text" [(ngModel)]="company.bank_details.bank_abbr">
          </label>
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
            Número de cuenta:
            <input type="text" [(ngModel)]="company.bank_details.account_number">
          </label>
        </div>
  
        
  
      </div>
    </form>
  </div>
    
  </div>

 
<div *ngIf="option==2" class="flex justify-center items-center h-full">
  <div class="w-full max-w-lg">
    <form class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full">
        <div class="flex justify-between items-center mt-8">
          <h1 class="text-2xl font-bold">Detalle de empresa:</h1>
          <!-- Un botón para acciones generales -->
          <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition duration-300" (click)="changeVisibility(3)">
            Editar
          </button>
        </div>
        <br>
        <div class="px-3 mb-6 md:mb-0">
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Número: CC{{company.enterprise_id}}</label>
      
        </div>
        <div class="px-3 mb-6 md:mb-0">
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Nombre: {{company.name}}</label>
      
        </div>

        <div class="px-3 mb-6 md:mb-0">
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Dirección de pagina web: {{company.web_page_url}}</label>
          
        </div>

        <div class="px-3 mb-6 md:mb-0">
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Detalles bancarios </label>
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Nombre: {{company.bank_details.bank_name}}</label>
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">ABBR: {{company.bank_details.bank_abbr}}</label>
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Número de cuenta: {{company.bank_details.account_number}}</label>

          
        </div>
       
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Emails asociados </label>
        <div class="px-3 mb-6 md:mb-0"  *ngFor="let email of company.emails_associated; let i = index">
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Descripción: {{email.description}}</label>
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Email: {{email.email}}</label> 
        </div>

        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Teléfonos asociados </label>
        <div class="px-3 mb-6 md:mb-0"  *ngFor="let phones of company.phones_associated; let i = index">
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Descripción: {{phones.description}}</label>
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Número: {{phones.phone_number}}</label> 
        </div>

        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Categorías </label>
        <div class="px-3 mb-6 md:mb-0"  *ngFor="let categoria of company.categories; let i = index">
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Descripción: {{categoria.description}}</label>
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Categoría: {{categoria.category}}</label> 
        </div>


        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Direcciones </label>
        <div class="px-3 mb-6 md:mb-0"  *ngFor="let direccion of company.addresses; let i = index">
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Descripción: {{direccion.street}} - {{direccion.city}} - {{direccion.state}} - {{direccion.country}} zip: {{direccion.zip_code}}</label>
         
          
        </div>
</div>







