<app-menu></app-menu>
<br><br>
<div class="bg-gray-300 p-6">
  <div *ngIf="option==0" class="flex justify-center">
    <div class="" name="listado_principal" style="width: 80%;">
      <div class="relative overflow-x-auto">
        <br>
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg text-gray-700 bg-gray-50">
          <div class="flex justify-center mt-5 mb-3">
            <span class="px-3 py-3 ">Buscar contactos: </span>
            <input [(ngModel)]="searchTerm" placeholder="Buscar..." class="w-1/3 p-2 border rounded"
              (input)="onSearch('contactos')" />
            <button
              class="bg-[#6EC4A7] hover:bg-blue-200 text-white hover:text-black font-bold py-2 px-4 rounded transition duration-300 ml-2"
              (click)="changeVisibility(1)">
              Nueva contacto
            </button>
          </div>
          <table class="w-full text-sm text-left rtl:text-right text-gray-500 ">
            <thead class="text-xs text-gray-700 bg-gray-50 ">

              <tr>
                <th scope="col" class="px-6 py-3 cursor-pointer">
                  Nombre
                </th>
                <th scope="col" class="px-6 py-3 cursor-pointer" >
                  Nombre de usuario
                </th>
                <th scope="col" class="px-6 py-3 cursor-pointer" >
                  Correo electrónico
                </th>
                <th scope="col" class="px-6 py-3 cursor-pointer" >
                  Rol
                </th>
                <th scope="col" class="px-6 py-3">
                 
                </th>

                
              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let contacto of filtered_contacts" class="bg-white border-b   hover:bg-gray-50 ">

                <th scope="row" class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap ">
                  <div class="ps-3">
                    <div class="text-base font-semibold">{{ contacto.user.first_name }}</div>

                  </div>
                </th>
                <td class="px-6 py-4">
                  {{ contacto.user.username }}
                </td>
                <td class="px-6 py-4">
                
                    {{ contacto.user.email }}
               

                </td>
                <td class="px-6 py-4">
                  {{ contacto.user.roles }}
                </td>
                
                <td class="px-6 py-4">
                  <div class="flex">
                    <div class="flex-1">
                      <img src="assets/View.svg" style="width: 24px;" class="icon w-4 h-4 ml-1 mr-2"
                       class="cursor-pointer">
                    </div>

                    <div class="flex-1">
                      <img src="assets/Edit.svg" style="width: 24px;" class="icon w-4 h-4 ml-1 mr-2"
                                    class="cursor-pointer">
                    </div>

                  </div>
                 
                 
                
                 
                </td>

                


              </tr>

            </tbody>
          </table>
        </div>


        <br>
        <nav aria-label="Page navigation example" class="">
          <div class="flex">
            <ul class="inline-flex -space-x-px text-base h-10 w-full">
              <li class="w-full">
                <a (click)="previusPage()"
                  class=" cursor-pointer flex items-center justify-center px-4 h-10 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700  ">Anterior</a>
              </li>
              <li class="w-full">
                <a
                  class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 ">1</a>
              </li>
              <li class="w-full">
                <a
                  class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 ">...</a>
              </li>

              <li class="w-full">
                <a
                  class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 ">00</a>
              </li>

              <li class="w-full">
                <a (click)="nextPage()"
                  class="cursor-pointer flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 ">Siguiente</a>
              </li>
            </ul>
          </div>
        </nav>





      </div>
    </div>

  </div>

  <div *ngIf="option==1" class="flex justify-center">
    
  </div>

  <div *ngIf="option==2" class="flex justify-center">
    
  </div>

  <div *ngIf="option==3" class="flex justify-center">
    
  </div>

  <div *ngIf="option==4" class="flex justify-center">
    
  </div>

  <div *ngIf="option==5" class="flex justify-center">
    
  </div>
</div>
